body {
    background-image : url("Background.jpg");
   
}

.Radios{
    font: 35px Lucida Sans Unicode;
    margin: 5px;
}

.MainDiv{

    width: 70%;
    background-color: antiquewhite;
    text-align: center;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 25%;
    border: 3px solid #916919;
}
.smallBox{
    font-size: 20px;
    border: solid #916919;
    width: 35px
}

.textBox{
    font-size: 20px;
    border: solid #916919;
}
.label{
    font: 35px Lucida Sans Unicode;
    margin: 5px;
}

.labelError{
    font: 30px bold Lucida Sans Unicode;
    margin: 5px;
}

.menuButton{
    background-color: antiquewhite;
    border: solid #916919;
    color: black;
    margin: 5px 5px 5px 0px;
    text-align: center;
    text-emphasis-color: gray;
    font: bold 30px Lucida Sans Unicode;
}

.column{
float: left;
    margin: 20px;
    background-color: grey;
    padding-bottom: 1%;
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 9%;
    padding-left: 3px;
    padding-right: 3px;
}
.midDiv{
    display: inline-block;
    width: 50%;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}


